.form {
    display: grid;
    grid-template: auto / 1fr;
    max-width: 1200px;
    margin: auto;
    gap: 8px;
    padding: 20px;
}

.panelWrapper {
    display: flex;
    justify-content: space-between;
}

.panelControlsWrapper {
    display: flex;
    justify-content: center;
}

.dateWrapperDatePicker {
  margin-bottom: 10px;
}

.chartTypeWrapper {
    margin-left: 10px;
}

.chartTypeTitle {
    margin-right: 5px;
}