# описание сервиса для запуска ExtranetAPI с помощью systemd

[Unit]
Description=Furniture Helper entry web api service

[Service]
WorkingDirectory=/root/srv/FurnitureHelper

ExecStart=dotnet /root/srv/FurnitureHelper/ExtranetAPI.dll

User=root

Restart=always

RestartSec=5

KillSignal=SIGINT

Environment=ASPNETCORE_ENVIRONMENT=prod

Environment=DOTNET_PRINT_TELEMETRY_MESSAGE=false

Environment=ASPNETCORE_URLS=http://*:5000;

# не знаю зачем, не разобрался пока что
[Install]
WantedBy=multi-user.target