.top {
    display: flex;
    justify-content: space-between;
    padding: 40px;
}

.row {
    cursor: pointer;
}

.row_red {
    background: red;
}

.row_yellow {
    background: yellow;
}

.row:last-child td,
.row:last-child th {
    border: 0;
}